<!-- HospitalSystem/templates/choosedoctorandtime.html -->
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>病人预约</title>
    <link rel="stylesheet" href="{% static 'css/choosedoctorandtime.css' %}">
</head>

<body>
    <div class="top">
        <h1>选择预约日期</h1>
        <select onchange="window.location.href=this.value">
            {% for date in date_list %}
                <option value="?date={{ date }}" {% if date == selected_date %}selected{% endif %}>{{ date }}</option>
            {% endfor %}
        </select>
        <h2>已选日期: {{ selected_date }}</h2>
    </div>
    <div class="box">
        {% for doctor, number in doctor_time_number_list %}
            <div class="message">
                <div class="age">
                    <dl>
                        <dd>
                            <img class="doctorimg" src="/media/{{ doctor.img }}">
                        </dd>
                        <dt>
                            <span>{{ doctor.name }}</span><br>
                            职位等级: {{ doctor.level }}<br>
                            科室: {{ department_name }}<br>
                            挂号价格: {{ doctor.registration_price }} 元<br>
                            <span>简述</span><br>
                            {{ doctor.description }}<br>
                        </dt>
                    </dl>
                </div>
                <div class="time">
                    <dl>
                        {% if number %}
                            {% for hour in time_list %}
                                {% with time_str=selected_date|add:" "|add:hour|add:":00:00" %}
                                    {% if time_str < now|date:"Y-m-d H:i:s" %}
                                        <dt>
                                            时间: {{ hour }}:00 名额:
                                            {% if hour == '08' %}
                                                {{ number.eight }}
                                            {% elif hour == '09' %}
                                                {{ number.nine }}
                                            {% elif hour == '10' %}
                                                {{ number.ten }}
                                            {% elif hour == '11' %}
                                                {{ number.eleven }}
                                            {% elif hour == '14' %}
                                                {{ number.fourteen }}
                                            {% elif hour == '15' %}
                                                {{ number.fifteen }}
                                            {% elif hour == '16' %}
                                                {{ number.sixteen }}
                                            {% elif hour == '17' %}
                                                {{ number.seventeen }}
                                            {% endif %}
                                            <a href="#" class="disabled-link">预约</a>
                                        </dt>
                                    {% else %}
                                        {% if hour == '08' and number.eight == 0 or hour == '09' and number.nine == 0 or hour == '10' and number.ten == 0 or hour == '11' and number.eleven == 0 or hour == '14' and number.fourteen == 0 or hour == '15' and number.fifteen == 0 or hour == '16' and number.sixteen == 0 or hour == '17' and number.seventeen == 0 %}
                                            <dt>
                                                时间: {{ hour }}:00 名额:
                                                {% if hour == '08' %}
                                                    {{ number.eight }}
                                                {% elif hour == '09' %}
                                                    {{ number.nine }}
                                                {% elif hour == '10' %}
                                                    {{ number.ten }}
                                                {% elif hour == '11' %}
                                                    {{ number.eleven }}
                                                {% elif hour == '14' %}
                                                    {{ number.fourteen }}
                                                {% elif hour == '15' %}
                                                    {{ number.fifteen }}
                                                {% elif hour == '16' %}
                                                    {{ number.sixteen }}
                                                {% elif hour == '17' %}
                                                    {{ number.seventeen }}
                                                {% endif %}
                                                <a href="#" class="disabled-link">预约</a>
                                            </dt>
                                        {% else %}
                                            <dt>
                                                时间: {{ hour }}:00 名额:
                                                {% if hour == '08' %}
                                                    {{ number.eight }}
                                                {% elif hour == '09' %}
                                                    {{ number.nine }}
                                                {% elif hour == '10' %}
                                                    {{ number.ten }}
                                                {% elif hour == '11' %}
                                                    {{ number.eleven }}
                                                {% elif hour == '14' %}
                                                    {{ number.fourteen }}
                                                {% elif hour == '15' %}
                                                    {{ number.fifteen }}
                                                {% elif hour == '16' %}
                                                    {{ number.sixteen }}
                                                {% elif hour == '17' %}
                                                    {{ number.seventeen }}
                                                {% endif %}
                                                <a href="/confirmregistration/{{ department_id }}/{{ doctor.id }}/{{ selected_date }}/{{ hour }}:00:00">预约</a>
                                            </dt>
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% else %}
                            <dt>
                                暂无可预约时间信息
                            </dt>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- 修改返回按钮的逻辑 -->
    <button class="back-button" onclick="window.location.href='/choosedepartment/'">返回选择科室</button>
</body>

</html>