<!-- HospitalSystem/templates/doctorcenter.html -->
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医生中心</title>
    <link rel="stylesheet" href="{% static 'css/doctorcenter.css' %}">
</head>

<body>
    <div class="main-container">
        <nav class="user-info">
            <a href="#">
                <span>{{ doctor_name }}</span>
                <span class="emoji">🏥</span>
            </a>
            <a href="/">退出系统</a>
        </nav>

        <header class="page-title">
            <h1>医生服务中心</h1>
        </header>

        <div class="service-cards">
            <article class="service-card">
                <a href="/doctorshowregistration/">我的患者</a>
            </article>
            <article class="service-card">
                <a href="/doctor_view_patient_evaluations/">查看患者评价</a>
            </article>
        </div>
    </div>
</body>

</html>